* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.main {
  display: flex;
  width: 100%;
  max-width: 1366px;
}
.main .header {
  background-color: #f44336;
  width: 310px;
  overflow: auto;
}
.main .menu-title {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 24px;
  padding: 90px 33px 26px;
  position: fixed;
}
.main .menu-lists {
  max-width: 253px;
  box-sizing: border-box;
  display: block;
  text-align: left;
  padding: 65px 0px 0px 30px;
  position: fixed;
  top: 160px;
}
.main .main-links {
  list-style: none;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.main .main-links:hover {
  background-color: white;
  cursor: pointer;
}
.main .menu-link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.main .main-links:hover .menu-link {
  color: black;
}
.main .general-container {
  max-width: 1040px;
}
.main .general-container .title-container {
  margin: 70px 50px 0;
}
.main .general-container .design-title {
  font-size: 64px;
}
.main .general-container .contents-title {
  font-size: 48px;
  color: #f44336;
  margin: 17px 0 15px 0;
}
.main .general-container .contents-title::after {
  content: "";
  display: block;
  margin-top: 20px;
  width: 60px;
  background-color: red;
  border-radius: 4px;
  height: 10px;
}
.main .img-container {
  display: flex;
  margin-left: -10px;
  margin-top: 30px;
}
.main .first-container-img {
  border-radius: 3%;
  padding: 5px 10px;
  opacity: 0.7;
}
.main .first-container-img:hover {
  opacity: 1;
  cursor: pointer;
}

.service-container {
  margin: 80px 50px 0 50px;
}

.design-container {
  margin: 80px 50px 0 50px;
}
.design-container .about-desihners-img-container-title {
  font-weight: 700;
  margin: 30px 0;
}
.design-container .designers-img-container {
  display: flex;
  margin-left: -10px;
}
.design-container .designers-img-container .staff-img {
  background-color: #f1f1f1 !important;
  margin: 0 10px;
}
.design-container .designers-img-container .staff-img .designer-img {
  filter: saturate(30%);
}
.design-container .designers-img-container .staff-img .designer-name {
  font-size: 24px;
  font-weight: 400;
  padding: 0 10px;
}
.design-container .designers-img-container .staff-img .about-designer-subtitle {
  opacity: 0.6;
  margin: 30px 0;
  padding: 0 10px;
}
.design-container .designers-img-container .staff-img .description {
  margin: 30px 0;
  padding: 0 10px;
}

.package-container {
  margin: 80px 50px 0 50px;
}
.package-container .package-container-text {
  margin: 30px 0 10px 0;
}
.package-container .package-list-container {
  display: flex;
  justify-content: space-between;
}
.package-container .package-list {
  display: flex;
  flex-direction: column;
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.package-container .lists-container {
  list-style: none;
}
.package-container .first-list-title {
  color: #fff !important;
  background-color: #616161 !important;
  font-size: 24px;
}
.package-container .lists {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 32px 145px;
}
.package-container .second-list-title {
  color: #fff !important;
  background-color: #f44336 !important;
  font-size: 24px;
}
.package-container .first-list-button {
  border: none;
  background-color: white;
  color: #000;
  padding: 12px 24px;
}
.package-container .first-list-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.package-container .second-list-button {
  color: #fff;
  background-color: #f44336;
  padding: 12px 24px;
  border: none;
}
.package-container .second-list-button:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
.package-container .dollar-price {
  font-size: 30px;
}
.package-container .dollar-discription {
  opacity: 0.6;
}

.contact-container {
  margin: 80px 50px 0 50px;
}
.contact-container .interior-contents-contact-imput {
  width: 100%;
  padding: 8px;
  margin-bottom: 30px;
}
.contact-container .contact-container-button {
  width: 100%;
  background-color: #f44336;
  color: #fff;
  padding: 12px 24px;
  border: none;
  text-align: center;
}
.contact-container .contact-container-button:hover {
  background-color: #b1aeae;
  color: #000;
  cursor: pointer;
}

.footer {
  margin-top: 75px;
  color: #000 !important;
  background-color: #f1f1f1 !important;
  text-align: right;
  padding: 40px 51px 30px 0;
  font-size: 14px;
}
.footer .footer-link {
  font-size: 14px;
  color: #000;
}
.footer .footer-link:hover {
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */